.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;

}

.album {
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 15px;
  width: 100%;
  padding: 5px 10px;

  p {
    margin: 0;
  }
}